img {
    max-width: 96%;
    height:auto; 
    margin-left: 2%;
    margin-right: 2%;
}

p {
    font-size: 2em;
    margin-top: 15%;
    text-align: center;
}

div.container {
    /*height: 10em;*/
    position: relative 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }